@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    scroll-behavior: smooth;
}
:root{
    --green:#27ae60;
    --black:#2c2c54;
}
html{
    font-size: 62.5%;
    scroll-padding-top: 6.5rem;
    scroll-behavior: smooth;
}
section{
    padding: 2rem 5%;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    background: var(--green);
    color:#fff;
    padding: 1rem 4rem;
    font-size: 1.6rem;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
.btn:hover{
    background: var(--black);
    transform: scale(1.1);
}
.heading{
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    padding: 1rem;
    font-size: 2.5rem;
    padding-bottom:2rem;
}
.heading span{
    color: var(--green);
    text-transform: uppercase;
}
.header-2 .navbar a.active{
    color:var(--green);
}
span{
    color:var(--green);
}
.header-1{
    z-index: 1;
    position: fixed;
    display: flex;
    width: 100%;
    background: #eee;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
}
.logo{
    color: var(--black);
    font-weight: bolder;
    font-size: 3rem;
}
.logo i{
    padding-right: .5rem;
    color: var(--green);
}
.header-1 .search-box-container{
    display: flex;
    height: 4rem;
}
.header-1 .search-box-container #search-box{
    height: 100%;
    width: 100%;
    padding: 0.7rem;
    font-size: 2rem;
    color: #333;
    border: 3px solid rgba(0, 0, 0, .3);
    text-transform: none;
}
.header-1 .search-box-container label{
    height: 100%;
    width: 8rem;
    font-size: 2.5rem;
    line-height: 4rem;
    color: #fff;
    background: var(--green);
    text-align: center;
    cursor: pointer;
}
.header-1 .search-box-container label:hover{
    background: var(--black);
}
.header-2{
    z-index: 1;
    position: fixed;
    top: 6.2rem;
    display: flex;
    width: 100%;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
.header-2 .navbar a{
    padding: 0.7rem 1.3rem;
    font-size: 2rem;
    border-radius: .5rem;
    color: var(--black);
}
.header-2 .navbar a:hover{
    background: var(--green);
    color: #fff;
}
.header-2 .icons a{
    font-size: 2.2rem;
    color: var(--black);
    padding-left: 1rem;
}
.header-2 .icons a:hover{
    color: var(--green);
}
#menu-bar{
    font-size: 3rem;
    border-radius: .5rem;
    border: 3px solid var(--black);
    padding: 3px 1rem;
    color: var(--black);
    cursor: pointer;
    display: none;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.home .image{
    flex: 1 1 40rem;
    padding-top: 14rem;
}
.home .image img{
    width: 100%;
}
.home .content{
    flex: 1 1 40rem;
}
.home .content span{
    font-size: 3rem;
    color: #666;
}
.home .content h3{
    font-size: 5rem;
    color: var(--black);
}
.banner-container{
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.banner-container .banner{
    flex: 1 1 40rem;
    height: 25rem;
    overflow: hidden;
    position: relative;
}
.banner-container .banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.banner-container .banner:hover img{
    transform: scale(1.2) rotate(5deg);
}
.banner-container .banner .content{
    position: absolute;
    top: 25%;
    left: 6%;
    transform: translate(-50%);
}
.banner-container .banner .content h3{
    margin-left: 30vh;
    font-size: 2.5rem;
    color: var(--black);
}
.banner-container .banner .content p{
    margin-left: 30vh;
    font-size: 2rem;
    color: var(--black);
}
.banner-container .banner .content a{
    margin-left: 30vh;
    font-size: 2rem;
    color: #fff;
}
.category .heading{
    position: relative;
    top: 5rem;
}
.category .box-container{
    margin-top: 6rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.category .box-container .box:hover{
    transform: scale(0.9);
}
.category .box-container .box{
    border: 0.3rem solid rgba(0, 0, 0, .3);
    border-radius: .5rem;
    text-align: center;
    padding: 2rem;
    flex: 1 1 25rem;
}
.category .box-container .box img{
    width: 20rem;
    height: 16rem;
    margin: .5rem 0;
}
.category .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
}
.category .box-container .box p{
    font-size: 2rem;
    color: #666;
    padding: .5rem 0;
}
.category .box-container .box .btn{
    display: block;
    border-radius: 10px;
}
.product .heading{
    position: relative;
    top: 5rem;
}
.product .box-container{
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.product .box-container .box:hover{
    transform: scale(0.9);
}
.product .box-container .box{
    flex: 1 1 28rem;
    text-align: center;
    padding: 2rem;
    border:.3rem solid rgba(0, 0, 0, .3);
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
}
.product .box-container .box img{
    height: 23rem;
    width: 24rem;
}
.product .box-container .box .discount{
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: rgba(0, 0, 0, .1);
    color: var(--green);
    padding: .4rem 0.6rem;
    font-size: 1.7rem;
    border-radius: .7rem;
}
.product .box-container .box .icons{
    position: absolute;
    top: .5rem;
    right: -6rem;
}
.product .box-container .box:hover .icons{
    right: 1rem;
}
.product .box-container .box .icons a{
    display: block;
    height: 3.5rem;
    width: 3.5rem;
    line-height: 3.5rem;
    font-size: 1.8rem;
    color: var(--black);
    background: rgba(0, 0, 0, .05);
    border-radius: 50%;
    margin-top: .6rem;
}
.product .box-container .box .icons a:hover{
    background: var(--green);
    color: #fff;
}
.product .box-container .box h3{
    color: var(--black);
    font-size: 2.1rem;
}
.product .box-container .box .stars i{
    padding: 1rem .1rem;
    color: gold;
    font-size: 1.7rem;

}
.product .box-container .box .price{
    font-size: 2rem;
    color: #333;
    padding: .5rem 0;
}
.product .box-container .box .price span{
    font-size: 1.5rem;
    color: #999;
    text-decoration: line-through;
}
.product .box-container .box .quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: .5rem;
}
.product .box-container .box .quantity span{
    padding: 0 .3rem;
    font-size: 1.7rem;
}
.product .box-container .box .quantity input{
    border: .2rem solid rgba(0, 0, 0, .3);
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--black);
    border-radius: .6rem;
    padding: 0.3rem;
    width: 5rem;
    background: rgba(0, 0, 0, .05);
}
.product .box-container .box .btn{
    display: block;
}
.deal{
    background: url(image/day.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 3rem;
    margin-top: 5rem;
}
.deal .content{
    max-width: 70rem;
} 
.deal .content .title{
    font-size: 4rem;
    color: #ffffff;
}
.deal .content p{
    font-size: 1.6rem;
    padding: 1rem 0;
    color: #ffffff;
}
.deal .content .count-down{
    display: flex;
    gap: 1rem;
    padding: .5rem 0;
    color: #fff;
}
.deal .content .count-down .box{
    width: 7rem;
    text-align: center;
    border-radius: .7rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: 0.3rem solid rgba(0, 0, 0, .5);
}
.deal .content .count-down .box h3{
    color: var(--black);
    background: #fff;
    height: 4rem;
    line-height: 4rem;
    width: 100%;
    font-size: 3rem;
}
.deal .content .count-down .box span{
    background: var(--black);
    display: block;
    color: #fff;
    width: 100%;
    padding: .3rem;
    font-size: 1.4rem;
}
.contact .heading{
    position: relative;
    top: 5rem;
}
.contact form{
    margin-top: 6rem;
    text-align: center;
    padding: 1rem;
    border: .3rem solid rgba(0, 0, 0, .3);
    border-radius: .8rem;
}
.contact .form .inputbox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .inputbox input,
.contact form textarea{
    padding: 1rem;
    font-size: 1.6rem;
    background-color: #f7f7f7;
    text-transform: none;
    margin: 1rem 0;
    border: .3rem solid rgba(0, 0, 0, .3);
    border-radius: .8rem;
    width: 45%;
}
.contact form textarea{
    height: 20rem;
    font-size: 1.7rem;
    resize: none;
    width: 90%;
    border: .3rem solid rgba(0, 0, 0, .3);
    border-radius: .8rem;
}
.newletter{
    background-image: url(image/123.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 5rem 2rem;
}
.newletter h3{
    font-size: 2.5rem;
    color: var(--black);
}
.newletter form{
    max-width: 50rem;
    display: flex;
    align-items: center;
    margin: 1rem auto;
    padding: 1.2rem;
    border-radius: .8rem;
    background: rgba(0, 0, 0, .1);
}
.newletter form .box{
    width: 100%;
    padding: .7rem 1.5rem;
    font-size: 1.6rem;
    color: #333;
    text-transform: none;
    border-radius: .8rem;
}
.newletter form .btn{
    margin-top: 0;
}
.footer .box-container{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.footer .box-container .box{
    padding: 1rem 0;
    flex: 1 1 25rem;
}
.footer .box-container .box .share a{
    padding: 0;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 2rem;
}
.footer .box-container .box h3{
    font-size: 2.3rem;
    color: var(--black);
}
.footer .box-container .box p{
    font-size: 1.4rem;
    color: #666;
    padding: .7rem 0;
}
.footer .box-container .box .links{
    padding: 1rem 0;
}
.footer .box-container .box .links a{
    display: block;
    padding: .5rem 0;
    font-size: 1.7rem;
    color: #333;
}
.footer .box-container .box .links a:hover{
    text-decoration: underline;
    color: var(--green);
}
.footer .credit{
    text-align: center;
    border-top: .2rem solid rgba(0, 0, 0, .3);
    margin-top: 1rem;
    padding: 1.5rem 1rem;
    font-size: 2rem;
    background: rgba(0, 0, 0, .1);
}
.footer .credit span{
    color: var(--green);
}